.hide {
   display: none;
}

.wrap {
   background-color: #888686;
   width: 250px;
   padding: 100px;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 20px;
}

.h1 {
   text-transform: uppercase;
}

.ul {
   padding: 0;
}

li {
   list-style-type: none;
}